
body{
    height: 100%;
    background-color:#000;
    }
    
    .all-section{
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    
    
    
    main{
        background-image: url(https://get.wallhere.com/photo/black-monochrome-minimalism-texture-circle-brand-line-darkness-screenshot-computer-wallpaper-black-and-white-monochrome-photography-font-207087.jpg);
        background-size: 200%;
        background-position: top center;
      margin: 0 -8px 0 -8px;
      flex: 1 1 auto;
    }
    
    
    img{
        max-width: 100%;
        max-height: 150px;
       padding: 0 0 0 0 ;
    }
    
    
    
    
    p{
      color: aliceblue;
      font-size: 25px;
      margin-left: 25px;
      margin-right: 10px;
    }
    
    
    h1{
        color: aliceblue;
        font-size: 50px;
        margin: 0 0 0 0;
        text-align: center;
    
    }
    h2{
        color: aliceblue;
    }
    a{
        margin: 0 0 0 0 ;
        padding: 0 0 0 0 ;
        text-decoration: none;
        color: aliceblue;
    }
    
    iframe{
        max-width: 100%;
    }
    
    ul{
        padding: 0 0 0 0 ;
        margin: 0 0 0 0 ;
    }
    
    
    li{
        list-style-type: none;
    }
    
    
    
    .li-list{
    
        min-width: 250px;
        margin:  8px 0 8px 0;
        padding-left: 10px;
        background-color: rgba(83, 69, 83, 0.452);
       font-size: 25px;
    }
    
    
    
    
    header{
        background-color: rgba(0, 0, 0, 0.959);
        margin: -8px -8px 0px -8px;
     height: 100px;
    
    }
    
    
    
    
    
    
    
    
    
    
     .nav-li h2{
     text-align: center;
     }
    
    
    
     
  
 
        
   

    
    section{
        margin: 0px 0 50px 0;
    }
    
    .table {
      
    margin-left: auto;
    margin-right: auto;
    
    }
    
    .block{
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap ;
        
    }
    
    .block-lesson{
       margin-left: auto;
       margin-right: auto;
       border-top: 1px solid;
       border-color: rgb(20, 5, 236 ); ;
    color: white;
    }
    
    .block-lesson h2{
        text-align: center;
        font-size: 40px;
    }
    .text{
        text-align: left;
    }
  
    
    footer{
       
        margin: 0px auto -8px auto;
        height: 100px;
        min-width: 100%;
        background-color: rgb(0, 0, 0);
        border-top: 1px solid;
        border-color: rgb(20, 5, 236); ;
        border-radius: 25%;
        
    }
    
    
    footer h2 {
        padding-left: 100px;
    }
    
    
    
    
    
    
    
    
    
      /* ******************************** */
      /* ******************************** */


      /* ******************************** */
      /* ******************************** */
      /* ******************************** */
      /* ******************************** */
    
    
    
    .scrollmenu {
        display: flex;
       
        text-align: start;
        background-color: rgb(0, 0, 0);
        overflow: auto;
        white-space: nowrap;
        max-width: 100%;
        justify-content: space-between;
    }
    div.scrollmenu:hover {
        background-color: rgba(94, 89, 107, 0.397);
    }
    
    
    div.scrollmenu a {
        min-width: 100px;
      
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    
    div.scrollmenu a:hover {
        background-color: rgb(155, 154, 154);
    }
    
    .accordion {
        background-color: rgb(211, 209, 209);
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        text-align: center;
       margin: 5px 0 5px 0;
   
    }
    
    .active, .accordion:hover {
        background-color: rgb(105, 105, 105); 
    }
    
    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
        background-color:rgb(29, 27, 27);
      
    }