h1,
h2 {
    text-align: center;
}

div {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}

iframe {
    margin: 0 0 10px 0;
}