/* Стили для кнопок вкладок */
.tab-button {
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

.tab {
  display: none;
}

.tab-button {
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}
